/********** Base styles **********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 15px;
}

.container {
    /*border: 2px solid blue;*/
    position: absolute;
    width: 100%;

}

/*.row {*/
/*    width: 100%;*/
/*    !*position: relative;*!*/
/*    !*border: 10px solid blue;*!*/
/*}*/

.a {
    background-color: #d59898;
}

.b {
    background-color: #c14543;
}
.c {
    background-color: #e7d08d;
}

p {
    /*border: 1px black; THIS DOESN'T WORK why? **************************************/
    padding: 30px 0 0 10px;
}

/****** Chicken, Beef, Sushi text box ******/
.menu-title {
    text-align: center;
    border: 2px solid;
    position: absolute;
    top: 0;
    right: 0;

    width: 33.3%;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: "Century Gothic", sans-serif;

}


/**** Menu description ****/
.menu {
    border: 2px solid black;
    position: relative;
    width: 90%;
    height: 150px;
    margin-right: auto;
    margin-left: auto;
    background-color: gray;

}

.box-c {
    border: 2px solid orange;
}



/***************** Desktop Version ********************/
@media (min-width: 992px) {
    .col-dkv-4 {
        float: left;
        /*border: 2px solid green;*/
        position: relative;
        width: 33.3%;
    }
}

/***************** Tablet Version ********************/
@media (min-width: 768px) and (max-width: 991px) {
    .col-tbv-2 {
        float: left;
        border: 1px solid green;
    }

    .col-tbv-2 {
        width: 50%;
    }
}

/***************** Mobile Version ********************/
@media (max-width: 767px) {


    /*.col-mbv-1 {*/
    /*    float: left;*/
    /*    !*border: 1px solid green;*!*/
    /*    border: 1px solid red;*/
    /*}*/
    .col-mbv-1 {
        width: 100%;
    }
}