/********** Base styles **********/
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;

}

h1 {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.container {
    /*border: 2px solid blue;*/
    position: absolute;
    width: 100%;
    /*justify-items: center;*/

}

.a {
    background-color: #d59898;
}

.b {
    background-color: #c14543;
}
.c {
    background-color: #e7d08d;
}

p {
    border: 2px solid black; /*THIS DOESN'T WORK why? *************************************/
    padding: 2em 0 0 1em;
}

/****** Chicken, Beef, Sushi text box ******/
.menu-title {
    text-align: center;
    border: 2px solid;
    position: absolute;
    top: 0;
    right: 0;
    width: 33.33%;
    padding-bottom: 5px;
    font-weight: bold;
    font-family: "Century Gothic", sans-serif;

}

/**** Menu description ****/
.menu {
    position: relative;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
    background-color: gray;
}


/***************** Desktop Version ********************/
@media (min-width: 992px) {
    .col-dkv-4 {
        float: left;
        /*border: 2px solid green;*/
        position: relative;
        width: 33.33%;

    }
}

/***************** Tablet Version ********************/
@media (min-width: 768px) and (max-width: 991px) {
    .col-tbv-2 {
        float: left;
        /*border: 2px solid red;*/
        position: relative;
        width: 50%;
    }
    .c-tbv-1 {
        width: 100%;

    }
}

/***************** Mobile Version ********************/
@media (max-width: 767px) {
    .col-mbv-1 {
        float: left;
        /*border: 2px solid yellow;*/
        position: relative;
        width: 100%;
    }
}